.emergency-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.emergency-button:hover {
  background-color: #ff401e;
}

.blink,
.blink:hover {
  cursor: not-allowed;
  background-color: #404040;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
}
