@import "./components/assets/styles/variables.css";

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-color);
}

p,
a {
  font-family: var(--font-secondary);
}

.container {
  min-height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("https://tse3.mm.bing.net/th?id=OIP.8uD1IaaITbpJUU7vY94CbQHaEo&pid=Api&P=0&h=180");
  background-size: cover;
}

.lights-container {
  padding: 5% 5%;
  background-color: var(--bg-color);
  border-radius: 30%;
}

.buttons-container {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.status-heading {
  font-family: var(--font-heading);
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.green-status {
  color: var(--bright-green);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.yellow-status {
  color: var(--bright-yellow);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.red-status {
  color: var(--bright-red);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .buttons-container {
    width: 90%;
  }
}
